<a href="https://colab.research.google.com/github/Rashid-25/Python_Practice_beginner/blob/main/string_placeholders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Python, string placeholders let you insert values into strings dynamically. There are 3 main ways to do this:

# 1. f-strings (Python 3.6+ â€” most common and recommended)

In [ ]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

# 2. .format() method

In [2]:
name = "Bob"
age = 30
print("My name is {} and I am {} years old.".format(name, age))

My name is Bob and I am 30 years old.

# 3. Old-style % formatting
%s for string

%d for integer

%f for float

In [3]:
name = "Charlie"
age = 22
print("My name is %s and I am %d years old." % (name, age))

My name is Charlie and I am 22 years old.

# Format with rounding

In [4]:
price = 9.56789
print(f"Price is ${price:.2f}")  # Only 2 decimal places

Price is $9.57